* {
    box-sizing: border-box;
    
    margin: 0;
}

main h1 {
    margin: 20px 0px 0px 20px;
}

.model {
    display: none;
}

.car-item {
    margin: 20px;
}

.car-item--img img {
    width: 65%;
    height: auto;
}

.car-area {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    align-items: center;
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    

}